body {
    font-family: 'Roboto', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    background-color: #F8F9FA; /* Color de fondo */
    color: #212529; /* Color de texto */
    margin: 0;
}
/* Estilos para la imagen enmarcada */
#imagen-enmarcada {
    border: 2px solid #2196F3; /* Color del borde según */
    padding: 10px;
}

/* Estilos para el espacio del artículo */
#contenido {
    margin-top: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #607D8B; /* Color de fondo según Material Design */
    color: #FFFFFF; /* Color de texto según Material Design */
    text-align: center;
    padding: 10px;
}

/* Agrega estilos para la barra de navegación y el pie de página */

 /* Estilos para la imagen enmarcada */
#imagen-enmarcada {
    border: 2px solid #2196F3; /* Color del borde según Material Design */
    padding: 10px;
}

#imagen-enmarcada img {
    width: 200px; /* Establece el ancho de la imagen */
    height: 200px; /* Establece la altura de la imagen */
    border: 1px solid #000; /* Añade un borde a la imagen */
}
